/* 
  blog.html challenge, Colt Steele, Udemy, Section 6
*/

body {
  width: 80%;
  border: 20px solid #bdc3c7;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 20px auto;
}

date {
  color: #3498db;
  padding: 0 0 0 2%;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 20px;
}

h2 {
  color: #2c3e50;
  padding-left: 2%;
  font-size: 2em;
  font-weight: bold;
}

p:nth-of-type(1) {
  border-left: 10px solid #bdc3c7;
  margin-left: 2%;
  padding-right: 2%;
}

p {
  padding-left: 2%;
  padding-right: 2%;
}

hr {
  width: 96%;
  color: #bdc3c7;
  height: 5px;
}

span {
  padding-left: 2%;
}